apiVersion: 1

datasources:
  - name: Loki
    type: loki
    uid: loki
    access: proxy
    orgId: 1
    url: http://loki:3100
    basicAuth: false
    isDefault: false
    version: 1
    editable: false
    jsonData:
      derivedFields:
        - name: TraceID
          matcherType: label
          matcherRegex: trace_id
          datasourceUid: jaeger
          urlDisplayLabel: View Trace
          url: "$${__value.raw}"

  - name: Jaeger
    type: jaeger
    uid: jaeger
    access: proxy
    orgId: 1
    url: http://jaeger:16686
    basicAuth: false
    isDefault: true
    version: 1
    editable: false
    jsonData:
      nodeGraph:
        enabled: true
